@import "../../app.scss";

.about-me{
    background: linear-gradient(180deg,#0c0c1d,#111132);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .textContainer{
        flex: 1;
        align-self: flex-end;
        display: flex;
        align-items: center;
        gap: 20px;

        @include mobile{
            display: none;
            // flex-direction: column;
            // gap: 0;
            // justify-content: center;
           
        }

        p{
        color: #b9faf8;
        font-weight: 200;
        }

        @include mobile{
            font-size: 14px;
        }

        hr{
            width: 300px;
            border: none;
            border-top: 0.5px solid #b9faf8;
        }

        @include mobile{
            width: 150px;
        }

    }

    .titleContainer{
        flex: 2;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: start;
        gap: 100px;

        @include mobile{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 50px;
        }

        .title{
            display: flex;
            flex-direction: column;
            align-items: left;
            gap: 20px;
            justify-content: center;

            @include mobile{
                align-items: center;
                gap: 5px;

            }
        }


        img{
            width: 300px;
            height: auto;
            object-fit: cover;
            margin: 10px;

            @include mobile{
                width: 150px;
            }

            :hover{
                transform: rotateY(150deg);
            }


        }

        button{
            width: 150px;
            height: 50px;
            border-radius: 50px;
            background-color: #a663cc;
            color: white;
            border: none;
            font-size: 16px;

            @include mobile{
                width: 120px;
                height: 30px;
                font-size: 14px;
            }
        }

        ul {
            list-style-type: none;
            :hover{
                scale: 1.1;

                @include mobile{
                    scale: 1;
                }
            }



            .feature{
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;


                img{
                    max-height: 40px;
                    max-width: 40px;
                    height: auto;

                    @include mobile{
                        max-height: 30px;
                        max-width: 30px;
                    }
                }

                li{
                    font-size: 16px;
                    padding: 5px;
                    font-weight: 300;
                    color: white;

                    @include mobile{
                        font-size: 14px;
                    }
                }   

            }

        }

    }


}