.project{
    position: relative;

    .progress {
       position: sticky; 
       top: 0;
       left: 0;
       padding-top: 50px;
       text-align: center;
       color: #a663cc;
       font-size: 36px;

        .progressBar{
            height: 10px;
            background-color: white;
        }
    }

    .container{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .wrapper{
            max-width: 1366px;
            height: 100%;
            margin: auto;
            display: flex;
            gap: 50px;
        

         .imgContainer{
            flex: 1;
            width: 50%;
            height: fit-content;
            overflow: hidden;
            align-items: center;  
            justify-content: center;
          
        
           img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            
        }}

         .textContainer{
            flex: 1;
            display: flex;
            flex-direction: column;
            gap: 30px;

            h2{
                font-size: 60px;
            }

            p{
                color: white;
                font-size: 16px;
            }

            button{
                background-color: #a663cc;
                border: none;
                border-radius: 10px;
                padding: 10px;
                width: 200px;
                height: 50px;
                border-radius: 50px;
                cursor: pointer;

            }
        }
    }
}
}