.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg,#0c0c1d,#111132);
    overflow: hidden;
    position: relative;
    

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        

        .textContainer{
            padding-left: 10%;
            padding-bottom: 10%;
            width: 60%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px; 

            h2{
                font-size: 24px;
                color: #6f2dbd;
                letter-spacing: 10px;
            }

            h1{
                font-size: 68px;
            }

            p{
                color: #b9faf8;
                font-size: 20px;
                font-weight: 200;
            }
        }

        img{
            width: 40px;
        }

    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;

        img {
            width: 600px;
            overflow: hidden;
        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 45vh;
        bottom: -90px;
        white-space: nowrap;
        color: #FFFFFF09;
        width: 50%;
        font-weight: bold;
    }

    // @media (max-width: 768px) {
    //     .imageContainer {
    //         position: relative;
    //         height: auto;
    //         img {
    //             width: 100%;
    //         }
    //     }

    //     .textContainer {
    //         width: 100%;
    //         padding-left: 5%;
    //     }
    // }
}