.hero{
    height: calc(100vh - 100px);
    background: linear-gradient(180deg,#0c0c1d,#111132);
    overflow: hidden;
    position: relative;
    

    .wrapper{
        max-width: 1366px;
        height: 100%;
        margin: auto;
        

        .textContainer{
            width: 50%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 20px; 

            h2{
                font-size: 24px;
                color: #6f2dbd;
                letter-spacing: 10px;
            }

            h1{
                font-size: 68px;
            }

            .buttons{
                button{
                    padding: 5px;
                    border: 1px solid #b9faf8;
                    border-radius: 10px;
                    background-color: transparent;
                    color: #b9faf8;
                    margin-right: 20px;
                    cursor: pointer;
                }
            }
        }

        img{
            width: 40px;
        }

    }

    .imageContainer{
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        overflow: hidden;

        img {
            width: 600px;
            overflow: hidden;
        }
    }

    .slidingTextContainer{
        position: absolute;
        font-size: 45vh;
        bottom: -90px;
        white-space: nowrap;
        color: #FFFFFF09;
        width: 50%;
        font-weight: bold;
    }
}